@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #090e1b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table{
  width: 100%;
}
table, td, td{
  border-collapse: collapse;
  /* border-bottom: 1px solid #bdbdbd; */
}
td, th{
  padding: 10px;
  text-align: left;
}

.loader {
  animation: loader infinite 0.7s linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}